torch
torchvision
torchaudio
timm
numpy
pandas
scikit-learn
opencv-python-headless
omegaconf==2.3.0
imagehash==4.3.1
tqdm==4.66.4
wandb==0.17.4
fastapi==0.111.0
uvicorn==0.30.1
streamlit==1.36.0
pytest==8.2.2
ruff==0.5.1
python-multipart==0.0.9
